*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

h1{
    font-family: 'Anton', sans-serif;
}

body{
    height: 100vh;
    overflow-y: scroll;
}

.scrollOff{
    overflow: hidden;
}

.menu{
    height: 100%;
    width: 100%;
    position: absolute;
    right: 100%;
    transition: 0.3s;
    display: flex;
    margin-top: 120px;
    background-color: rgb(227, 243, 204);
}

.pane{
    height: 91%;;
}



.showMenu{
    right: 0%;
}

header{
    height: 150px;
    width: 100%;
    background-color:#78be67;
    position: fixed;
}

section{
    height: 500%;
}

footer{
    height: 100px;
    background-color: #78be67;
}

.divPage{
    width: 500px;
    background-color: #c8dabd;
    padding: 0px;
}

main{
    flex-grow: 1;
}

.divPage,main{
    padding:13% 2% 2% 2%;
    height: 100%;
}

.topico{
    font-size: 25px;
}

.icon{
    width: 5%;
    height: 40%;
}

.description{
    height: 250px;
    text-align: justify;
    text-justify: inter-word;
}

.topicos{
    width: 850px;
    height: 400px;
    position: fixed;
    display: flex;
    flex-direction: column;
}

span{
    margin-top: 4px;
}

@media (max-width:1840px){
    .divPage{
        width: 700px;
    }
}

@media (max-width:1266px){
    header{
        height: 120px;
    }

    img{
        margin-top: 200px;
    }

    section{
        flex-direction: column;
        height: 500%;
        width: 100%;
        align-items: center;
    }


    .divPage{
        display: none;
    }

    .menuLegenda{
        flex-grow: 1;
    }

    .legenda{
        height: 50px;
    }

    .topicos{
        position:static;
        flex-direction: row;
        width: 100%;
        height: 10%;
        position: static;
        padding-bottom: 8%;
    }
}

@media (max-width:626px){
    img{
        width: 250px;
        height: 250px;
    }
}


@media (max-width:731px) {
    .divPage{
        height: 10%;
    }
    .topicos{
        padding-bottom: 80px;
    }
}
